<footer>
  <div class="bg-dark">
    <div class="container-fluid text-light text-center mt-3 p-1">
      <h1 class="p-3" style="font-family: Roboto Mono">
        {{title}}
      </h1>
      <span class="d-flex justify-content-evenly m-3">
        <a href="">
          <img src="../../assets/svg/instagram-logo.svg" alt="insta">
        </a>
        <a href="">
          <img src="../../assets/svg/facebook-logo.svg" alt="facebook">
        </a>
        <a href="">
          <img src="../../assets/svg/gmail-svgrepo-com.svg" alt="gmail">
        </a>
        <a href="">
          <img src="../../assets/svg/whatsapp-logo.svg" alt="whatsapp">
        </a>
        <a href="">
          <img src="../../assets/svg/phone-call.svg" alt="phone">
        </a>

      </span>
      <span class="d-flex justify-content-evenly m-3 p-2">
        <h4 class="m-0">
          <a class="link-warning link-underline link-underline-opacity-0" href="about">About Us</a>
        </h4>
        <h4 class="m-0">
          <a class="link-warning link-underline link-underline-opacity-0" href="contact">Contact Us</a>
        </h4>
        <h4 class="m-0">
          <a class="link-warning link-underline link-underline-opacity-0" href="about">Products</a>
        </h4>
        <h4 class="m-0">
          <a class="link-warning link-underline link-underline-opacity-0" href="cart">Quotation</a>
        </h4>
      </span>

      <span class="fs-6 text-light fw-light">
        © 2026 {{title}} Limited. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
